{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about" style="background-color:rgba(159, 188, 187, 0.3)">
    <div class="container">
        <div class="wow fadeInLeft" style="max-width: 80%; display: inline-block;" data-wow-delay=".3s"
            data-wow-duration="500ms">
            {{ with .Site.Params.about.image }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
        </div>
        <div class="wow fadeInLeft" style="max-width: 80%; display: inline-block;" data-wow-delay=".3s"
            data-wow-duration="500ms">
            {{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}
        </div>
        <div class="row">
            <div class="col-sm" style="text-align: center;">
                <a class="btn-lines wow fadeInUp btn btn-default" data-wow-delay=".9s"
                    style="background-color: rgba(159, 188, 187, 1);"
                    href="{{ .Site.Params.about.btnURL }}" target="_blank">
                    <p style="font-weight: normal;">{{ .Site.Params.about.btnText }}</p>
                </a>
                <a class="btn-lines wow fadeInUp btn btn-default" data-wow-delay=".9s"
                    style="color: rgba(159, 188, 187, 1); background-color: white; border-color: rgba(159, 188, 187, 1);"
                    href="#demo-anchor">
                    <p style="font-weight: normal;">Watch The Demo</p>
                </a>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}