{{ if .Site.Params.demo.enable }}
{{ "<!-- demo Section Start -->" | safeHTML }}
<section id="demo" style="background-color:rgba(188, 159, 159, 0.3)">
    <div id="demo-anchor" class="section-anchor"></div>
    <div class="container">
        <div class="section-heading">
            {{ with T "DemoTitle" }}<h1 class="title wow fadeInDown" data-wow-delay=".3s" style="font-weight: bold; font-size: 30px">{{ . }}</h1>{{ end }}
        </div>

        <video id="demo-video" width="60%" controls="true" >
            <source src="https://presentation-smite.irtsysx.fr/videos/demo-full.mp4" type="video/mp4">
            Sorry, your browser does not support the video tag.
        </video>
    </div>
</section>
{{ "<!-- demo Section End -->" | safeHTML }}
{{ end }}