{{ if .Site.Params.demo.enable }}
{{ "<!-- demo Section Start -->" | safeHTML }}
<section id="demo">
    <div id="demo-anchor" class="section-anchor"></div>
    <div class="container">
        <div class="section-heading">
            {{ with T "DemoTitle" }}<h1 class="title wow fadeInDown" data-wow-delay=".3s" style="font-weight: bold; font-size: 30px">{{ . }}</h1>{{ end }}
        </div>

        <iframe style="width:50%; height:50vh;" src="https://www.youtube.com/embed/6QIC6PNFOt8?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
{{ "<!-- demo Section End -->" | safeHTML }}
{{ end }}