{{ partial "header.html" . }}
<style>
    #news .section-heading {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    #news .item {
        border-radius: 5px;
        margin-bottom: 15px;
    }
    #news .item .footer {
        padding-top: 15px;
    }
    #news .item .footer p {
        text-align: right;
        width: 100%;
    }
    
    #news .item:nth-child(even) {
        background-color : rgba(167, 188, 153, 0.3);
    }
    #news .item:nth-child(odd) {
        background-color : rgba(235, 238, 217, 1);
    }
    #news .item:last-child {
        border-bottom: none;
    }
    #news ul {
        padding-left: 35px;
        margin-top: 5px;
    }
    #news ul li {
        padding-left: 15px;
        margin-top: 5px;
        font-family: Raleway, sans-serif;
        line-height: 22px;
        font-size: 16px;
        font-weight: 300;
    }

</style>

<section id="news" style="background-color:rgba(159, 188, 187, 0.3)">
    <input type="hidden" name="active-header" value="news" />
    <div class="container">
        <div class="section-heading">
            <h1 class="title" data-wow-delay=".3s" style="font-weight: bold; font-size: 30px">{{ T "LatestNews" }}</h1>
        </div>
        {{ range $index, $element := sort $.Site.Data.news.items "date" "desc"  }}
        <div class="row item" style="padding: 30px;">
            <div class="container">
            <div id="new-{{ .title }}" class="news-anchor"></div>
                <div class="row header">
                    <h3>{{ if in $.Site.Language.Lang "fr" }} 
                            {{ .title.fr }}
                        {{ else }}
                            {{ .title.en }}
                        {{ end }}
                    </h3>
                </div>
                <div class="row content">
                    <p> {{ if in $.Site.Language.Lang "fr" }} 
                            {{ .description.fr | safeHTML }}
                        {{ else }}
                            {{ .description.en | safeHTML }}
                        {{ end }}</p>
                </div>
                <div class="row footer">
                    <p>By {{ .author }}, {{ .date }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ partial "footer.html" . }}